
.hero {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 250px;
    height: 150px;
}
.opciones_principales{
    display:flex;
    align-self:center;
}
@media(max-width:767px) {
    .opciones_principales{
        flex-direction:column;
        align-items:center;
    }
}
@media (min-width:768px){
    .hero {
        margin-top: 10px;
        margin-bottom: 20px;
        width: 450px;
        height: 300px;
    }

    #parrafo_principal {
        margin-top: 20px;
        font-size: 18px;
    }

    .opciones_principales {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .opciones_principales div{
        display:flex;
        flex-direction:column;
        
    }

    .opciones_principales div i {
            
            font-size: 2.5rem;
            text-align:center;
            margin-bottom:10px;     
            
     }

     .opciones_principales div h2 {
            text-align: center;
            font-size: 2.5rem;
            margin-bottom: 15px;
     }

    select {
    
        width:200px;
        border-radius:5px;
    }


}

