<div class="text-center">
    <h1 class="display-4 fw-bold" style="font-size:100px">Perfume Gallery</h1>
    <img class="hero shadow" src="~/img/perfumes_potion.jpg" alt="hero_perfumes" />
    <p class="text-center" id="parrafo_principal">Esta aplicación te ayudara a encontrar el perfume perfecto para cada ocasión , a travez de nuestro sistema de recomendacíon y filtrado de información , se te mostrará la fragancia recomendada y a tu medida para esa ocasión especial.</p>

</div>