@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Header" />

<div class="opciones_principales">
    <div>
        <i class="bi bi-cloud-rain"></i>
        <h2>Tipo de clima</h2>
        <select class="text-center">
           <option value="Frio">Frio</option>
           <option value="Calor">Calor</option>
            <option value="Templado">Templado</option>
        </select>
    </div>

    <div>
        <i class="bi bi-clock-fill text-center"></i>
        <h2>Hora del dia</h2>
        <select class="text-center">
            <option value="Mañana">Mañana</option>
            <option value="Tarde">Tarde</option>
            <option value="Noche">Noche</option>
        </select>
    </div>

    <div>
        <i class="bi bi-gender-ambiguous"></i>
        <h2>Genero</h2>
        <select class="text-center">
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
			<option value="Unisex">Unisex</option>
        </select>
    </div>

    <div>
        <i class="bi bi-123"></i>
        <h2>Edad</h2>
        <select class="text-center">
            <option value="g1">15-20 años</option>
            <option value="g2">20-30 años</option>
            <option value="g3">30 años en adelante</option>
        </select>
    </div>

</div>